<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: admin-header"></header>

<form method="post" th:action="@{/host/edit}">
    <input type="hidden" th:value="${host.id}" name="hostId" />
    <div class="form-group">
        <label>Model
            <input th:field="${host.model}" th:value="${host.model}" class="form-control">
        </label>
        <p class="error" th:errors="${host.model}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${host.description}" th:value="${host.description}" class="form-control">
        </label>
        <p class="error" th:errors="${host.description}"></p>
    </div>
    <div class="form-group">
        <label>Number of Video Zones
            <input type="number" min="0" max="20" th:field="${host.videoZones}" th:value="${host.videoZones}" class="form-control">
        </label>
        <p class="error" th:errors="${host.videoZones}"></p>
    </div>
    <div class="form-group">
        <label>Total Zones
            <input type="number" min="0" max="20" th:field="${host.totalZones}" th:value="${host.totalZones}" class="form-control">
        </label>
        <p class="error" th:errors="${host.totalZones}"></p>
    </div>
    <div class="form-group">
        <label>Number of Lighting Devices
            <input type="number" min="0" max="20" th:field="${host.supportedLights}" th:value="${host.supportedLights}" class="form-control">
        </label>
        <p class="error" th:errors="${host.supportedLights}"></p>
    </div>
    <div class="form-group">
        <label>Number of Sensor Outputs/Inputs
            <input type="number" min="0" max="20" th:field="${host.supportedSensors}" th:value="${host.supportedSensors}" class="form-control">
        </label>
        <p class="error" th:errors="${host.supportedSensors}"></p>
    </div>
    <div class="form-group">
        <label>Embedded Host</label>
        <div>
            <input class="form-control" type="radio" id="false" name="false" value="false" th:field="${host.embedded}" th:value="${host.embedded}">
            <label for="false">False</label>
        </div>
        <div>
            <input class="form-control" type="radio" id="true" name="true" value="true" th:field="${host.embedded}" th:value="${host.embedded}">
            <label for="false">False</label>
        </div>
        <p class="error" th:errors="${host.embedded}"></p>
    </div>

    <h2>Control Settings</h2>
    <div class="form-group">
        <label>IR Outputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.infraredOutputs}" th:value="${host.controlIO.infraredOutputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.infraredOutputs}"></p>
    </div>
    <div class="form-group">
        <label>Serial Outputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.serialOutputs}" th:value="${host.controlIO.serialOutputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.serialOutputs}"></p>
    </div>
    <div class="form-group">
        <label>Controllable Relays
            <input type="number" min="0" max="20" th:field="${host.controlIO.controllableRelays}" th:value="${host.controlIO.controllableRelays}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.controllableRelays}"></p>
    </div>
    <div class="form-group">
        <label>Sensor Inputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.sensorInputs}" th:value="${host.controlIO.sensorInputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.sensorInputs}"></p>
    </div>

    <h2>Signal Settings</h2>
    <div class="form-group">
        <label>Low Level (RCA) Outputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.lowOutputs}" th:value="${host.controlIO.lowOutputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.lowOutputs}"></p>
    </div>
    <div class="form-group">
        <label>High Level (Speaker) Outputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.highOutputs}" th:value="${host.controlIO.highOutputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.highOutputs}"></p>
    </div>
    <div class="form-group">
        <label>Analog (RCA) Inputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.analogInputs}" th:value="${host.controlIO.analogInputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.analogInputs}"></p>
    </div>
    <div class="form-group">
        <label>Digital Inputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.digitalInputs}" th:value="${host.controlIO.digitalInputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.digitalInputs}"></p>
    </div>
    <div class="form-group">
        <label>Digital Outputs
            <input type="number" min="0" max="20" th:field="${host.controlIO.digitalOutputs}" th:value="${host.controlIO.digitalOutputs}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.digitalOutputs}"></p>
    </div>
    <div class="form-group">
        <label>Embedded Streams
            <input type="number" min="0" max="20" th:field="${host.controlIO.embeddedStreams}" th:value="${host.controlIO.embeddedStreams}" class="form-control">
        </label>
        <p class="error" th:errors="${host.controlIO.embeddedStreams}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-secondary">
    </div>
</form>

</body>
</html>