<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<form method="post">
    <p>Enter in preliminary info regarding layout.</p>
    <div class="form-group">
        <label>Number of Video Zones
            <input th:field="${videoZones}" class="form-control" type="number">
        </label>
    </div>
    <div class="form-group">
        <label>Number of Total Zones
            <input th:field="${videoZones}" class="form-control" type="number">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="start" class="btn btn-primary">
    </div>
</form>

</body>
</html>