<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<h2 th:text="${title}"></h2>
<p <a href="/layout/addproject">Add Project</a>
<table class="table table-striped py-2">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tr th:each="project : ${projects}">
        <td><a th:href="'/layout/projectdetail?projectId=' + ${project.id}" th:text="${project.name}"></a></td>
        <td th:text="${project.description}"></td>
    </tr>
</table>

</body>
</html>