<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: admin-header"></header>

<form method="post">
    <h2>General Information</h2>
    <div class="form-group">
        <label>Model
            <input th:field="${audioDevice.model}" class="form-control">
        </label>
        <p th:errors="${audioDevice.model}" class="error"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${audioDevice.description}" class="form-control">
        </label>
        <p th:errors="${audioDevice.description}" class="error"></p>
    </div>

    <h2>Control Settings</h2>
    <div class="form-group">
        <label>Infrared Outputs
            <input th:field="${audioDevice.controlIO.infraredOutputs}" class="form-control" type="number">
        </label>
        <p th:errors="${audioDevice.controlIO.infraredOutputs}" class="error"></p>
    </div>
    <div class="form-group">
        <label>Serial Outputs
            <input th:field="${audioDevice.controlIO.serialOutputs}" class="form-control" type="number">
        </label>
        <p th:errors="${audioDevice.controlIO.serialOutputs}" class="error"></p>
    </div>
    <div class="form-group">
        <label>Controllable Relays
            <input th:field="${audioDevice.controlIO.controllableRelays}" class="form-control" type="number">
        </label>
        <p th:errors="${audioDevice.controlIO.controllableRelays}" class="error"></p>
    </div>
    <div class="form-group">
        <label>Sensor Inputs
            <input th:field="${audioDevice.controlIO.sensorInputs}" class="form-control" type="number">
        </label>
        <p th:errors="${audioDevice.controlIO.sensorInputs}" class="error"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-secondary">
    </div>
</form>

</body>
</html>