<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: admin-header"></header>

<table class="table table-striped py-2">
    <h1 th:text="${title}"></h1>
    <thead>
    <tr>
        <th>Model</th>
        <th>Description</th>
    </tr>
    </thead>
    <tr th:each="audioDevice : ${audioDevices}">
        <td><a class="header-link" th:href="'/audiodev/detail?audioDeviceId=' + ${audioDevice.id}" th:text="${audioDevice.model}"></a></td>
        <td th:text="${audioDevice.description}"></td>
    </tr>
</table>

</body>
</html>